
@{
    ViewBag.Title = "About";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/about-1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5"><span class="pr-2">Learn About Us</span></p>
                <h1 class="mb-4">Best School For Your Kids</h1>
                <p>
                    Gods always show their appearances on this earth time to time to realize peoples that still there is god. God takes any avatar and
                    comes to this universe for some noble cause and to save this universe from some disasters or from evils and demons. More than 5,000
                    years ago lord Vishnu took avatar as lord Krishna in mathura in India. During this time on earth, the lord Krishna aarti spoke Bhagavad
                    Gita this is one among the foremost noted epic and divine book in this world. He is the most worshipped god in Hindu religion there
                    thousands or lakhs of deities on this earth. He is the eighth avatar of lord Vishnu. Lord Krishna told Bhagwad Gita knowledge to Arjun
                    in kurukshetra battle.
                </p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid rounded" src="img/about-2.jpg" alt="">
                    </div>
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Lord Krishna was born in a jail</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Name was Kans the king of mathura</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Lord Krishna won the hearts of the gopis</li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
